@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Oswald:wght@300;400;500;700&display=swap');

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
*/

html,
body {
	height: 100%;
}

body {
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 30px;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

p {
	margin-bottom: 15px;
}

a {
	text-decoration: none;
}

a:link,
a:active,
a:focus,
a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oswald', sans-serif;
	line-height: normal;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 14px;
}

.bold,
strong {
	font-weight: 700;
}

ul {}

ol {}